@model IEnumerable<MusicPortal.Models.DataBase.User>

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h2>Admin Panel</h2>
</div>

<ul class="nav nav-tabs" id="adminTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link tabmenu active" id="confirmation-tab" data-toggle="tab" href="#confirmation" role="tab" aria-controls="confirmation" aria-selected="true">User Confirmation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabmenu" id="management-tab" data-toggle="tab" href="#management" role="tab" aria-controls="management" aria-selected="false">User Management</a>
    </li>
     <li class="nav-item">
        <a class="nav-link tabmenu" id="genre-tab" data-toggle="tab" href="#genre" role="tab" aria-controls="genre" aria-selected="false">Genre Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tabmenu" id="music-tab" data-toggle="tab" href="#music" role="tab" aria-controls="music" aria-selected="false">Music Management</a>
    </li>
</ul>

<div class="tab-content" id="adminTabContent">
    <div class="tab-pane fade show active" id="confirmation" role="tabpanel" aria-labelledby="confirmation-tab">
        @await Html.PartialAsync("UserConfirmation", (IEnumerable<MusicPortal.Models.DataBase.User>)ViewData["NonAdminUsers"])
    </div>
    <div class="tab-pane fade" id="management" role="tabpanel" aria-labelledby="management-tab">
        @await Html.PartialAsync("UserManagement", (IEnumerable<MusicPortal.Models.DataBase.User>)ViewData["ConfirmedUsers"])
    </div>
    <div class="tab-pane fade" id="genre" role="tabpanel" aria-labelledby="genre-tab">
        @await Html.PartialAsync("GenreManagement", (IEnumerable<MusicPortal.Models.DataBase.Genre>)ViewData["Genres"])
    </div>
    <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="music-tab">
        @await Html.PartialAsync("MusicManagement", (IEnumerable<MusicPortal.Models.DataBase.Music>)ViewData["Music"])
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
