@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

<div class="modal fade" id="playMusicModal" tabindex="-1" aria-labelledby="playMusicModalLabel" aria-hidden="true">
    <div class="modal-dialog centermodal">
        <div class="modal-content addform">
            <div class="modal-header">
                <h5 class="modal-title" id="playMusicModalLabel">@Localizer["Play Music"]</h5>
                <button type="button" class="close custom-close-btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ppp">
                <audio id="musicPlayer" controls>
                    <source id="musicSource" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>
